---
import Button from "../ui/Button.astro";
---

<section class="pt-32 pb-20 md:pt-40 md:pb-28">
  <div class="container mx-auto px-4">
    <div class="flex flex-col justify-center items-center gap-10">
      <div class="w-full max-w-[700px] space-y-6">
        <div class="text-center	">
          <p class="text-3xl md:text-5xl lg:text-5xl font-bold leading-tight text-[#ff5748]">
            Hello, I'm Bryan Gan
          </p>
          <h1 class="text-lg font-medium mb-3">
           Student at Drexel University 
          </h1>
          <p class="mt-6 text-lg md:text-xl text-gray-600 dark:text-gray-300">
            Studying Computer Science and Software Engineering at Drexel University. Looking forward to the new era of technology!
          </p>
        </div>

        <div class="flex flex-wrap justify-center items-center gap-4">
          <Button href="#contact" size="lg">Contact</Button>
          <Button href="#projects" variant="outline" size="lg"
            >Projects</Button
          >
        </div>

       
      </div>

   
    </div>
  
  </div>
</section>
